*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}
ul li{
    list-style: none;
    cursor: pointer;
    padding: 5px;
    display: inline-flex;
}
.end{
    float: right;
    padding-right: 12px;
}
#push{
    margin-left: 2rem;
}
#sign {
    background:#4285f4 ; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
    color: white;
  }
.main img{
    background-color: white;
    width: 20%;
   margin-left: 7rem;
    position: relative;
    left: 30rem;
    margin-top: 10rem;
    padding-bottom: 2rem;
}
input{
    padding: 8px;
    width: 30rem;
    position: relative;
    left: 30rem;
    border-radius: 25px;
}
input[type="search"]:focus {
    outline: none
  }
  .buttons{
      text-align: center;
      margin-top: 2rem;
  }
  .buttons:hover{
      box-shadow: 2px;
  }
  .button{
    background-color:#f2f2f2;
    border:none;
    padding:15px;
    margin:10px;
    color:#757575;
    font-size:10pt;
    font-weight:bold;
    font-family:arial;
    border-radius: 2px;
    text-align: center;
  }
  span{
      display:inline-flex
    
  }
  i{
      position: absolute;
      
  }
  #mic{
      position: relative;
    left: 28rem;
    top: 1rem;
  }
  #search{
      position: relative;
    left: 32rem;
    top: 0.9rem;
    z-index: 1;
   
  }
  footer{
      margin-top: 8rem;
      max-width: 100%;
      background-color: #f2f2f2;
      padding: 8px;
  }
  